.tox/**
.idea/**
build/**
dist/**
docs/_build/**
doc/_build_html/**
docs/_static/**
docs/_templates/**
htmlcov/**
pyORM.egg-info/**
.coverage
.idea/
build/
dist/
docs/_build/
docs/_static/
docs/_templates/
htmlcov/
pyorm/__pycache__/
pyorm/_cli/__pycache__/
pyorm/core/__pycache__/
pyorm/db/__pycache__/
pyorm/db/engine/__pycache__/
pyorm/db/models/__pycache__/
test.db
tests/__pycache__/
